body {
  background-color: #4fb06d !important;
}

.nav-flex-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.nav-item {
  text-decoration: none;
  color: rgb(0, 0, 0);
  padding-left: 20px;
  padding-right: 20px;
  margin-left: 0 auto;
  margin-right: 0 auto;
  font-size: 1.2em;
  color: black;
}

.nav-item:hover {
  font-weight: bold;
  color: black;
}

.contact {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  font-size: 1.2em;
}

.aboutMe {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  font-size: 1.2em;
  border: 2px solid black;
  padding: 20px;
  border-radius: 10px;
  background-color: rgb(254, 238, 216);
}

.selfie {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 300px;
  border: 5px solid rgb(108, 108, 108);
  border-radius: 10px;
}

@media (min-width: 768px) and (max-width: 1023px) {
}

@media (min-width: 1024px) {
}

input[type="text"],
input[type="email"],
textarea {
  width: 100%;
  border: 1px solid black;
  padding: 10px;
  margin-bottom: 10px;
  margin-top: 10px;
  box-sizing: border-box;
  border-radius: 10px;
}

.container {
  display: block;
  border: 1px solid black;
  background-color: #c0fbd3;
  padding: 20px;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
}

.page-heading {
  display: block;
  border: 1px solid black;
  border-radius: 10px;
  background-color: rgb(254, 238, 216);
  margin-top: 20px;
  text-align: center;
  width: 200px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 10px;
  padding-bottom: 10px;
}

.contact-text {
  display: block;
  text-align: center;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}
