body {
  background-color: #4fb06d !important;
}

.nav-flex-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.nav-item {
  text-decoration: none;
  color: rgb(0, 0, 0);
  padding-left: 20px;
  padding-right: 20px;
  margin-left: 0 auto;
  margin-right: 0 auto;
  font-size: 1.2em;
}

.nav-item:hover {
  font-weight: bold;
  color: black;
}

#contact {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 400px;
}

.aboutMe {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  padding-bottom: 15px;
  font-size: 1.2em;
}

.selfie {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 50px;
  padding-bottom: 50px;
  width: 300px;
}

@media (min-width: 768px) and (max-width: 1023px) {
  #contact {
    width: 700px;
  }
}

@media (min-width: 1024px) {
  #contact {
    width: 1000px;
  }
}
